body {
    font-family: Arial, sans-serif;
    margin: 0; 
    padding: 0;
}

footer {
    text-align: center;
    padding: 20px; 
    background-color: #45474B; 
    color: white; 
    margin-top: 20px; 
}

footer a {
    color: #4da6ff; 
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
