#top{
    background-color: #F5F7F8;
}
#top a{
    color: black;
}

#think{
    color: #379777;
    font-size: 2rem;
    font-weight: 900;
}

#it{
    color: #F4CE14;
    font-size: 2rem;
    font-weight: 900;
}
