  <section class="testimonial-one">
    <div class="section-title-seven">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="section-title align-center">
              <h2 class="fw-bold">What People Says</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="testimonial-one-wrapper">
        <div class="row justify-content-center">
          <div class="col-md-9 col-lg-12">
            <div class="row testimonial-one-active">
              <div class="col-lg-4">
                <div class="single-testimonial text-center">
                  <div class="testimonial-image">
                    <img src="https://cdn.ayroui.com/1.0/images/testimonial/author-1.jpg" alt="Author" />
                    <div class="quote-icon">
                      <i class="lni lni-quotation"></i>
                    </div>
                  </div>
                  <div class="testimonial-content">
                    <p class="text">
                    “The website is simple, fast, and reliable. It saves a lot of time and gives a great shopping experience.” 
                    </p>
                    <h6 class="author-name">Arvin</h6>
                    <span class="sub-title">Kottayam, Kerala</span>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="single-testimonial text-center">
                  <div class="testimonial-image">
                    <img src="https://cdn.ayroui.com/1.0/images/testimonial/author-2.jpg" alt="Author" />
                    <div class="quote-icon">
                      <i class="lni lni-quotation"></i>
                    </div>
                  </div>
                  <div class="testimonial-content">
                    <p class="text">
                    "This website makes shopping super easy and smooth. Everything is well organized and user-friendly."
                    </p>
                    <h6 class="author-name">Udith</h6>
                    <span class="sub-title">Alappuzha,Kerala</span>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="single-testimonial text-center">
                  <div class="testimonial-image">
                    <img src="https://cdn.ayroui.com/1.0/images/testimonial/author-4.jpg" alt="Author" />
                    <div class="quote-icon">
                      <i class="lni lni-quotation"></i>
                    </div>
                  </div>
                  <div class="testimonial-content">
                    <p class="text">
                     "A very useful platform with a clean design. Finding products and viewing details is quick and hassle-free."
                    </p>
                    <h6 class="author-name">Anoop</h6>
                    <span class="sub-title">Kollam,Kerala</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>