<div class="card mx-auto" id="cat">
  <img src="https://plus.unsplash.com/premium_photo-1661769021743-7139c6fc4ab9?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8YmVhdXR5JTIwcHJvZHVjdHxlbnwwfHwwfHx8MA%3D%3D" class="card-img" alt="Image" id="img" >
  <div class="card-img-overlay">
    <h3 class="card-title">Beauty Bonanza 💄</h3>
    <p class="card-text">Glow more. Pay less. Get 40% OFF on beauty essentials at checkout.</p>
  </div>
</div>
<div id="cat2" class="mx-auto">

  <div class="card mx-auto cat3" >
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQOviUq3Gm-9_UWA-KF6jAxbv26s7mfjojVmg&s" class="card-img" alt="Image" id="img1" >
    <div class="card-img-overlay">
      <h3 class="card-title">🪑 Furniture Fest Sale</h3>
      <p class="card-text">Upgrade your home with modern furniture designs</p>
    </div>
  </div>
  
  <div class="card mx-auto cat3" >
    <img src="https://img.freepik.com/premium-photo/shopping-cart-with-variety-vegetables-it-fruit-basket-with-fruit-basket-bottom_1034910-75482.jpg" class="card-img" alt="Image" id="img1" >
    <div class="card-img-overlay">
      <h3 class="card-title">Fresh Groceries Sale</h3>
      <p class="card-text">Up to 25% OFF on Fruits, Vegetables & Snacks</p>
      
    </div>
  </div>

</div>